.container {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.button {
	padding: 0 24px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 10px;
	background: #e4f2bb;
	border: none;
	cursor: pointer;
	transition: background 0.2s ease;
	padding: 11px 15px;
}

.button:hover {
	background: #d3e9a1;
}
